<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% block title %}AndroidTO Alerts Control Panel{% endblock %}</title>
	<link rel="stylesheet" href="/assets/style.css" type="text/css" media="screen" charset="utf-8" />
</head>

<div id="main-shell">
<div id="header">

<h1>AndroidTO - Alerts</h1>
<h2>Alerts Dispatch Panel</h2>
<br/>
<br/>

{% if error_message %}<div id="error"><p><strong>ERROR: {{ error_message }}</strong></p></div>{% endif %}

<form action="/alertspusher/sendalert/" method="post">
{% csrf_token %}
    <p>
        <label for="message"><h2>Enter Message</h2></label><br/>
        <input id="message" name="message"  type="text" style="width: 95%; margin-top: 1px; margin-bottom: 8px;" />
    </p>
    <p>
        <input type="submit" value="Push Alert Now" />
    </p>
</form>

</div>
</div>

<div id="footer">
    <div id="footer-inner">
        Contact via <a href="mailto:rahul1802@gmail.com">email</a>.<br><br>
        © Copyright 2010 by <a href="http://github.com/rahulagarwal">Rahul Agarwal</a>. All Rights Reserved.<br>
    </div>
</div> 
